<!DOCTYPE html> 
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  </html>
  <body>
      <h1>Thank you for using Rotten Mangoes <%= @user.firstname %></h1>
      <p>
        We regret to inform you that your account, 
        registered under the email <%= @user.email %>,
        has been deleted from our servers. 
      </p>
      <p>
        Your account is no longer registered,
        and all your reviews have been removed. 
        This has likely occured because you
        wrote really poor reviews and are not a 
        fan of good directors. Sorry, not sorry. 
      </p>
      <p> Have a good day. </p>
  </body>  
</html>