/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 **/
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Brand Colors */
$brand-base-white: #ECF0F1;
$brand-light-blue: #3498DB;
$brand-mid-blue: #2980B9;
$brand-dark-blue: #2C3E50;
$brand-accent-red: #E74C3C;
$brand-experiment-orange: #E7933E;
$brand-dark-orange: #A16923 ;

/* Class specific CSS */

.alert-success div {
  font-family: 'Helvetica', sans-serif;
  margin-bottom: auto;
  margin-top: auto; 
}

.navbar-default {
  background-color: $brand-experiment-orange;
  margin-bottom: 10px;
}

.navbar-right {
  margin-right: 3px;
  color: white;
}

.nav-right-div {
  margin-top: 1.75em;
}


.container {
  background: $brand-experiment-orange, 50%;
}

.small-poster {
  width: 360px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.05);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/* Selector specific CSS */

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h3, h4 {
  font-family: 'Raleway', sans-serif;
}

/* TODO: Need to refactor to inherit in a SASS manner, don't have a sass file watching yet  */
nav > section > div > h2 > a, 
  nav > section > div > h2 > a:hover, 
    nav > section > div > h2 > a:focus {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Patua One', serif;
}


div > h2 > a {
  color: $brand-experiment-orange;
}

div > h2 > a:hover {
  color: $brand-dark-orange;
  }