/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //=require movies
 //=require admin/users
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Brand Colors */
$brand-base-white: #ECF0F1; 
$brand-green: #5cb85c;
$brand-experiment-orange: #E7933E;
$brand-dark-orange: #A16923;
$site-display-font: 'Patua One', serif;
$site-main-header-font: 'Raleway', sans-serif;


/* Global CSS selector styles - many overridden */
a {
  color: $brand-experiment-orange;
}

a:hover {
  color: $brand-dark-orange;
  }


h2 {
  font-family: $site-main-header-font;
  font-weight: 700;
}

h3, h4 {
  font-family: $site-main-header-font;
}

nav > section > div > h2 > a, 
  nav > section > div > h2 > a:hover, 
    nav > section > div > h2 > a:focus {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-family: $site-display-font;
}


/* Class specific CSS */

.alert-success div {
  font-family: 'Helvetica', sans-serif;
  margin-bottom: auto;
  margin-top: auto; 
}

.container {
  background: $brand-experiment-orange, 50%;
}

/*nav-bar and nav-bar hover animations */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.05);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.navbar-default {
  background-color: $brand-experiment-orange;
  margin-bottom: 10px;
}

.navbar-right {
  margin-right: 3px;
  color: white;
}

.navbar-right > a {
  color: white;
}

.navbar-right > a:hover{
  color: white;
}

.nav-right-div {
  margin-top: 1.75em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.small-poster {
  width: 360px;
}
